### Proyecto Normalización de BBDD

El siguiente proyecto tiene como objetivo la normalización de una base de datos ficticia de The Bridge School.

**LIBRERÍAS NECESARIAS**

In [74]:
import psycopg2
import numpy as np
import pandas as pd
import os
import urllib.parse as up
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

**CONEXIÓN CON ELEPHANT**

In [75]:
# Conexión a ElephantSQL

# up.uses_netloc.append("base_bootcamp")
# url = "postgres://fxcuodto:kEhVqigxviO9yfR9flRdNmMnDQj5pHWN@peanut.db.elephantsql.com/fxcuodto"

# conn = psycopg2.connect(url)
# crsr = conn.cursor()

**CONEXIÓN CON PGADMIN4**

In [76]:
# Conexión a PgAdmin

conn = psycopg2.connect(database="postgres",
                    host="localhost",
                    user="postgres",
                    password="123456",
                    port="5432")
crsr = conn.cursor()

In [77]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

**CREACIÓN DE TABLAS**

In [78]:
query = '''
CREATE TABLE campus (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [79]:
conn.commit()

In [80]:
query = '''
CREATE TABLE promocion (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    mes VARCHAR(32),
    fecha_inicio VARCHAR(32),
    id_campus VARCHAR(32),
    CONSTRAINT fk_campus_promocion FOREIGN KEY (id_campus) REFERENCES campus(id)
    )
'''
crsr.execute(query)

In [81]:
conn.commit()

In [82]:
query = '''
CREATE TABLE vertical (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [83]:
conn.commit()

In [84]:
query = '''
CREATE TABLE curso (
    id VARCHAR(32) PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    id_promocion VARCHAR(32),
    id_vertical VARCHAR(32),
    CONSTRAINT fk_promocion_curso FOREIGN KEY (id_promocion) REFERENCES promocion(id),
    CONSTRAINT fk_vertical_curso FOREIGN KEY (id_vertical) REFERENCES vertical(id)
    )
'''
crsr.execute(query)

In [85]:
conn.commit()

In [86]:
query = '''
CREATE TABLE proyectos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_vertical VARCHAR(32) NOT NULL,
    nombre VARCHAR(32) NOT NULL,
    CONSTRAINT fk_vetical FOREIGN KEY (id_vertical) REFERENCES vertical(id)
    )
'''
crsr.execute(query)

In [87]:
conn.commit()

In [88]:
query = '''
CREATE TABLE alumnos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    email VARCHAR(32) NOT NULL,
    id_curso VARCHAR(32) NOT NULL,
    CONSTRAINT fk_curso
        FOREIGN KEY (id_curso) REFERENCES curso(id)
    )
'''
crsr.execute(query)

In [89]:
conn.commit()

In [90]:
query = '''
CREATE TABLE notas (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_alumno VARCHAR(32) NOT NULL,
    id_proyecto VARCHAR(32),
    nota VARCHAR(32),
CONSTRAINT fk_alumnos_notas FOREIGN KEY (id_alumno) REFERENCES alumnos(id),
CONSTRAINT fk_proyectos_notas FOREIGN KEY (id_proyecto) REFERENCES proyectos(id)
)
'''
crsr.execute(query)

In [91]:
conn.commit()

In [92]:
query = '''
CREATE TABLE rol (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    rol VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [93]:
conn.commit()

In [94]:
query = '''
CREATE TABLE profesor (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    id_curso VARCHAR(32),
    id_rol VARCHAR(32) NOT NULL,
    CONSTRAINT fk_curso FOREIGN KEY (id_curso) REFERENCES curso(id),
    CONSTRAINT fk_rol FOREIGN KEY (id_rol) REFERENCES rol(id)
    )
'''
crsr.execute(query)

In [95]:
# código auxiliar para cuando no pude solucionar la foreign key de la tabla profesor id_curso

# query = '''
# CREATE TABLE profesor (
#     id VARCHAR(32) NOT NULL PRIMARY KEY,
#     nombre VARCHAR(32) NOT NULL,
#     id_curso VARCHAR(32),
#     id_rol VARCHAR(32) NOT NULL,
#     CONSTRAINT fk_rol FOREIGN KEY (id_rol) REFERENCES rol(id)
#     )
# '''
# crsr.execute(query)

In [96]:
conn.commit()

In [97]:
conn.close()